# __Welcome to the Data Visualization Workshops!__

__Ayudante__: Gabriel Burgos S.

## __I. Introducción al Trabajo en los Workshops__

### __1.1. Data Visualization y Data Analysis__

1. __Importancia del manejo de Datos.__

2. __En qué ocupamos datos?__
- Optimización de procesos
- Análisis de mercado
- Control de calidad
- Etc.

### __1.2. Python__

Durante los workshop deberemos trabajar con _Python_ y algunas bibliotecas.

#### i- Qué es Python?
- Lenguaje de programación de alto nivel y orientado a objetos.
- Destacado por su simpleza.
- De código abierto extensible en C y C++.
- Se suele utilizar en aplicaciones de _Machine Learning_, _Ciencia de Datos_, ___Análisis de datos___, entre otros.

In [ ]:
print('Hola Mundo!')

In [ ]:
n = int(input())
for i in range(n):
    print('Lamamadelamama',end='')

#### ii- Por qué Python?
- De muy simple uso.
- Las bibliotecas para manejo de datos permiten mucha más cantidad de datos de manera rápida y automatizada.
- Utilizaremos '_jupyter notebooks_' los cuales son una manera intuitiva de revisar los códigos.

#### iii- Instalación:
Utilizar Python se puede lograr de diversas maneras, pero yo recomiendo dos:
1. [Visual Studio Code](https://code.visualstudio.com/) con extensiones de _Python_.
2. [Anaconda Navigator](https://www.anaconda.com/).

En este curso utilizaremos principalmente archivos `.ipynb`, por lo que lo importante es trabajar con _jupyter_.

- Bibliotecas:
	- [Pandas](https://pandas.pydata.org/)
	- [Polars](https://pola.rs/)
	- [Glob](https://docs.python.org/3/library/glob.html)
	- [Matplotlib](https://matplotlib.org/)
	- [Plotly](https://plotly.com/python/)

iv. Material Recomendado:
- Revisar el Starter Pack que les subiré:
	- Conceptos de Python básico y avanzado.
	- Guía completa de métodos de Pandas.
- Documentación Oficial:
	- [El Tutorial de Python Oficial](https://docs.python.org/es/3.13/tutorial/index.html)
	- [Pandas User Guide](https://pandas.pydata.org/docs/user_guide/index.html)
	- [Polars User Guide](https://docs.pola.rs/)
- Tutoriales Recomendados:
	- [Tutorial de Youtube sobre Python Básico](https://www.youtube.com/watch?v=D2cwvpJSBX4).
	- [Pandas en 10 minutos](https://www.youtube.com/watch?v=iGFdh6_FePU)

### v. Repaso breve de pandas

In [15]:
import pandas as pd

df = pd.DataFrame({
	'col1': [1, 2, 3],
	'col2': [4, 5, 6]})
df

   col1  col2
0     1     4
1     2     5
2     3     6

In [ ]:
df.head(2)

In [8]:
df.tail(2)

   col1  col2
1     2     5
2     3     6

In [10]:
df['col2']

0    4
1    5
2    6
Name: col2, dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    3 non-null      int64
 1   col2    3 non-null      int64
dtypes: int64(2)
memory usage: 180.0 bytes

In [12]:
df.describe()

       col1  col2
count   3.0   3.0
mean    2.0   5.0
std     1.0   1.0
min     1.0   4.0
25%     1.5   4.5
50%     2.0   5.0
75%     2.5   5.5
max     3.0   6.0

In [14]:
df.shape

(3, 2)

In [ ]:
# Filtros
filtro_menor_a_2 = df['col1'] < 3
df[filtro_menor_a_2]

   col1  col2
0     1     4
1     2     5

In [19]:
df_filtrado = df[ df['col1'] < 3 ]

In [21]:
df2 = pd.DataFrame({
	'nombre':['Juan', 'Pedro', 'Maria'],
	'edad':[20, 25, 30]
})
df2

  nombre  edad
0   Juan    20
1  Pedro    25
2  Maria    30

In [24]:
lista = ['Juan','Teresa']
filtro_nombre = df2['nombre'].isin( lista )

df2[filtro_nombre]

  nombre  edad
0   Juan    20

In [32]:
# operaciones
df['col1'].sum()
df['col1'].mean()
df['col1'].count()
df['col1'].max()
df['col1'].unique()

array([1, 2, 3])

In [34]:
#agregaciones

df3 = pd.DataFrame({
	'nombre':['Juan', 'Pedro', 'Maria', 'Teresa'],
    'gender':['M', 'M', 'F','F'],
	'edad':[20, 25, 30,45]
})
df3

   nombre gender  edad
0    Juan      M    20
1   Pedro      M    25
2   Maria      F    30
3  Teresa      F    45

In [39]:
df3.groupby('gender').agg({'edad':'max'}).head(1)

        edad
gender
F         45

## II- Resolución de Workshop 1

Egresos hospitalarios por comuna de residencia. Conjunto de datos: https://deis.minsal.cl/#datosabiertos

In [3]:
# CODIGO DE REVISION DE INSTALACION
import pandas as pd
import polars as pl

pd.DataFrame()
pl.dataframe

##### **1. Descargue los egresos hospitalarios para el año 2020 y abra el archivo usando Pandas y Polars. ¿Qué diferencia a ambas bibliotecas?**

In [ ]:
#pip install pandas polars

In [4]:
filepath = 'data/egresos hospitalarios/EGRESOS_2020/EGRE_DATOS_ABIERTOS_2020.csv'

__Pandas:__

In [ ]:
import pandas as pd

In [15]:
df = pd.read_csv(filepath,
            encoding='latin-1',
			sep=';',
            na_values='*'
            )

C:\Users\gabri\AppData\Local\Temp\ipykernel_24696\2342160634.py:1: DtypeWarning: Columns (0,1,2,3,4,8,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath,

In [16]:
df

,PERTENENCIA_ESTABLECIMIENTO_SALUD,SEXO,GRUPO_EDAD,ETNIA,GLOSA_PAIS_ORIGEN,COMUNA_RESIDENCIA,GLOSA_COMUNA_RESIDENCIA,REGION_RESIDENCIA,GLOSA_REGION_RESIDENCIA,PREVISION,GLOSA_PREVISION,ANO_EGRESO,DIAG1,DIAG2,DIAS_ESTADA,CONDICION_EGRESO,INTERV_Q,PROCED
0,No Pertenecientes al Sistema Nacional de Servi...,HOMBRE,1 a 9,No se identifica con alguna etnia,Chileno,1101,Iquique,1.0,De Tarapacá,1.0,FONASA,2020.0,Q531,NaN,1,1,1,2
1,No Pertenecientes al Sistema Nacional de Servi...,HOMBRE,1 a 9,No se identifica con alguna etnia,Chileno,1101,Iquique,1.0,De Tarapacá,1.0,FONASA,2020.0,Q173,NaN,1,1,1,2
2,No Pertenecientes al Sistema Nacional de Servi...,HOMBRE,1 a 9,No se identifica con alguna etnia,Chileno,1101,Iquique,1.0,De Tarapacá,1.0,FONASA,2020.0,Z412,NaN,1,1,1,2
3,No Pertenecientes al Sistema Nacional de Servi...,HOMBRE,1 a 9,No se identifica con alguna etnia,Chileno,1107,Alto Hospicio,1.0,De Tarapacá,1.0,FONASA,2020.0,N47X,NaN,1,1,1,2
4,No Pertenecientes al Sistema Nacional de Servi...,HOMBRE,1 a 9,No se identifica con alguna etnia,Chileno,1101,Iquique,1.0,De Tarapacá,1.0,FONASA,2020.0,N47X,NaN,1,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1330472,NaN,NaN,NaN,NaN,NaN,88888,Extranjero,NaN,NaN,NaN,NaN,NaN,O809,NaN,3,1,2,2
1330473,NaN,NaN,NaN,NaN,NaN,88888,Extranjero,NaN,NaN,NaN,NaN,NaN,O809,NaN,2,1,2,1
1330474,NaN,NaN,NaN,NaN,NaN,11101,Coihaique,NaN,NaN,NaN,NaN,NaN,G560,NaN,1,1,1,2
1330475,NaN,NaN,NaN,NaN,NaN,8112,Hualpén,NaN,NaN,NaN,NaN,NaN,P599,NaN,1,1,2,2
1330476,NaN,NaN,NaN,NaN,NaN,7301,Curicó,NaN,NaN,NaN,NaN,NaN,U071,NaN,7,1,2,2

__Polars:__

In [12]:
import polars as pl

In [14]:
pl.read_csv(filepath,
			encoding='latin-1',
			separator=';',
			null_values='*',
			)

shape: (1_330_477, 18)
┌─────────────┬────────┬────────────┬────────────┬───┬────────────┬────────────┬──────────┬────────┐
│ PERTENENCIA ┆ SEXO   ┆ GRUPO_EDAD ┆ ETNIA      ┆ … ┆ DIAS_ESTAD ┆ CONDICION_ ┆ INTERV_Q ┆ PROCED │
│ _ESTABLECIM ┆ ---    ┆ ---        ┆ ---        ┆   ┆ A          ┆ EGRESO     ┆ ---      ┆ ---    │
│ IENTO_SA…   ┆ str    ┆ str        ┆ str        ┆   ┆ ---        ┆ ---        ┆ i64      ┆ i64    │
│ ---         ┆        ┆            ┆            ┆   ┆ i64        ┆ i64        ┆          ┆        │
│ str         ┆        ┆            ┆            ┆   ┆            ┆            ┆          ┆        │
╞═════════════╪════════╪════════════╪════════════╪═══╪════════════╪════════════╪══════════╪════════╡
│ No Pertenec ┆ HOMBRE ┆ 1 a 9      ┆ No se      ┆ … ┆ 1          ┆ 1          ┆ 1        ┆ 2      │
│ ientes al   ┆        ┆            ┆ identifica ┆   ┆            ┆            ┆          ┆        │
│ Sistema N…  ┆        ┆            ┆ con alguna ┆   ┆            ┆            ┆          ┆        │
│             ┆        ┆            ┆ et…        ┆   ┆            ┆            ┆          ┆        │
│ No Pertenec ┆ HOMBRE ┆ 1 a 9      ┆ No se      ┆ … ┆ 1          ┆ 1          ┆ 1        ┆ 2      │
│ ientes al   ┆        ┆            ┆ identifica ┆   ┆            ┆            ┆          ┆        │
│ Sistema N…  ┆        ┆            ┆ con alguna ┆   ┆            ┆            ┆          ┆        │
│             ┆        ┆            ┆ et…        ┆   ┆            ┆            ┆          ┆        │
│ No Pertenec ┆ HOMBRE ┆ 1 a 9      ┆ No se      ┆ … ┆ 1          ┆ 1          ┆ 1        ┆ 2      │
│ ientes al   ┆        ┆            ┆ identifica ┆   ┆            ┆            ┆          ┆        │
│ Sistema N…  ┆        ┆            ┆ con alguna ┆   ┆            ┆            ┆          ┆        │
│             ┆        ┆            ┆ et…        ┆   ┆            ┆            ┆          ┆        │
│ No Pertenec ┆ HOMBRE ┆ 1 a 9      ┆ No se      ┆ … ┆ 1          ┆ 1          ┆ 1        ┆ 2      │
│ ientes al   ┆        ┆            ┆ identifica ┆   ┆            ┆            ┆          ┆        │
│ Sistema N…  ┆        ┆            ┆ con alguna ┆   ┆            ┆            ┆          ┆        │
│             ┆        ┆            ┆ et…        ┆   ┆            ┆            ┆          ┆        │
│ No Pertenec ┆ HOMBRE ┆ 1 a 9      ┆ No se      ┆ … ┆ 1          ┆ 1          ┆ 1        ┆ 2      │
│ ientes al   ┆        ┆            ┆ identifica ┆   ┆            ┆            ┆          ┆        │
│ Sistema N…  ┆        ┆            ┆ con alguna ┆   ┆            ┆            ┆          ┆        │
│             ┆        ┆            ┆ et…        ┆   ┆            ┆            ┆          ┆        │
│ …           ┆ …      ┆ …          ┆ …          ┆ … ┆ …          ┆ …          ┆ …        ┆ …      │
│ null        ┆ null   ┆ null       ┆ null       ┆ … ┆ 3          ┆ 1          ┆ 2        ┆ 2      │
│ null        ┆ null   ┆ null       ┆ null       ┆ … ┆ 2          ┆ 1          ┆ 2        ┆ 1      │
│ null        ┆ null   ┆ null       ┆ null       ┆ … ┆ 1          ┆ 1          ┆ 1        ┆ 2      │
│ null        ┆ null   ┆ null       ┆ null       ┆ … ┆ 1          ┆ 1          ┆ 2        ┆ 2      │
│ null        ┆ null   ┆ null       ┆ null       ┆ … ┆ 7          ┆ 1          ┆ 2        ┆ 2      │
└─────────────┴────────┴────────────┴────────────┴───┴────────────┴────────────┴──────────┴────────┘

##### **2. Descargue los egresos hospitalarios del año 2001 al 2020 y cree un único DataFrame usando Pandas. Pista: Use la biblioteca glob . Use este conjunto de datos para todos los análisis solicitados.**

In [40]:
from glob import glob # Biblioteca para buscar archivos

In [41]:
csv_list = glob('data/egresos hospitalarios/*/*.csv')
csv_list

['data/egresos hospitalarios\\EGRESOS_2001\\EGRE_DATOS_ABIERTOS_2001.csv',
 'data/egresos hospitalarios\\EGRESOS_2002\\EGRE_DATOS_ABIERTOS_2002.csv',
 'data/egresos hospitalarios\\EGRESOS_2003\\EGRE_DATOS_ABIERTOS_2003.csv',
 'data/egresos hospitalarios\\EGRESOS_2004\\EGRE_DATOS_ABIERTOS_2004.csv',
 'data/egresos hospitalarios\\EGRESOS_2005\\EGRE_DATOS_ABIERTOS_2005.csv',
 'data/egresos hospitalarios\\EGRESOS_2006\\EGRE_DATOS_ABIERTOS_2006.csv',
 'data/egresos hospitalarios\\EGRESOS_2007\\EGRE_DATOS_ABIERTOS_2007.csv',
 'data/egresos hospitalarios\\EGRESOS_2008\\EGRE_DATOS_ABIERTOS_2008.csv',
 'data/egresos hospitalarios\\EGRESOS_2009\\EGRE_DATOS_ABIERTOS_2009.csv',
 'data/egresos hospitalarios\\EGRESOS_2010\\EGRE_DATOS_ABIERTOS_2010.csv',
 'data/egresos hospitalarios\\EGRESOS_2011\\EGRE_DATOS_ABIERTOS_2011.csv',
 'data/egresos hospitalarios\\EGRESOS_2012\\EGRE_DATOS_ABIERTOS_2012.csv',
 'data/egresos hospitalarios\\EGRESOS_2013\\EGRE_DATOS_ABIERTOS_2013.csv',
 'data/egresos hospitalarios\\EGRESOS_2014\\EGRE_DATOS_ABIERTOS_2014.csv',
 'data/egresos hospitalarios\\EGRESOS_2015\\EGRE_DATOS_ABIERTOS_2015.csv',
 'data/egresos hospitalarios\\EGRESOS_2016\\EGRE_DATOS_ABIERTOS_2016.csv',
 'data/egresos hospitalarios\\EGRESOS_2017\\EGRE_DATOS_ABIERTOS_2017.csv',
 'data/egresos hospitalarios\\EGRESOS_2018\\EGRE_DATOS_ABIERTOS_2018.csv',
 'data/egresos hospitalarios\\EGRESOS_2019\\EGRE_DATOS_ABIERTOS_2019.csv',
 'data/egresos hospitalarios\\EGRESOS_2020\\EGRE_DATOS_ABIERTOS_2020.csv']

In [42]:
def read_csv_custom_pd(csv):
    return pd.read_csv(csv,
                         sep=';',
                         encoding='latin-1',
                         na_values='*',
                         )

def read_csv_custom_pl(csv):
    return pl.read_csv(csv,
						encoding='latin-1',
						separator=';',
						null_values=['*','NULL'],
                        schema_overrides={'PROCED':pl.Int64}
						)

In [43]:
# PANDAS
import pandas as pd

total = len(csv_list) # para contador

print('Comenzando lectura...') #

print(f'Leyendo {csv_list[-1].split('\\')[-1]} - {0/total:3.0%} ({1:2}/{total})') #
df = read_csv_custom_pd(csv_list[-1])

for i,csv in enumerate(csv_list[-2::-1], start=2):
    print(f'Leyendo {csv.split('\\')[-1]} - {(i-1)/total:3.0%} ({i:2}/{total})') #
    sub_df = read_csv_custom_pd(csv)
    df = pd.concat([df, sub_df])
    if i == 5: # NO PESCAR: porque yo corte la lectura
        break
    
print('Lectura finalizada con éxito!') #
df

# Duracion: 4m 46s

Comenzando lectura...
Leyendo EGRE_DATOS_ABIERTOS_2020.csv -  0% ( 1/20)

C:\Users\gabri\AppData\Local\Temp\ipykernel_3508\4151414386.py:2: DtypeWarning: Columns (0,1,2,3,4,8,10) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(csv,

Leyendo EGRE_DATOS_ABIERTOS_2019.csv -  5% ( 2/20)

C:\Users\gabri\AppData\Local\Temp\ipykernel_3508\4151414386.py:2: DtypeWarning: Columns (0,1,2,3,4,8,10) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(csv,

Leyendo EGRE_DATOS_ABIERTOS_2018.csv - 10% ( 3/20)

C:\Users\gabri\AppData\Local\Temp\ipykernel_3508\4151414386.py:2: DtypeWarning: Columns (0,1,2,3,4,8,10) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(csv,

Leyendo EGRE_DATOS_ABIERTOS_2017.csv - 15% ( 4/20)

C:\Users\gabri\AppData\Local\Temp\ipykernel_3508\4151414386.py:2: DtypeWarning: Columns (0,1,2,3,4,8,10) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(csv,

Leyendo EGRE_DATOS_ABIERTOS_2016.csv - 20% ( 5/20)

C:\Users\gabri\AppData\Local\Temp\ipykernel_3508\4151414386.py:2: DtypeWarning: Columns (0,1,2,3,4,8,10) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(csv,

Lectura finalizada con éxito!

,PERTENENCIA_ESTABLECIMIENTO_SALUD,SEXO,GRUPO_EDAD,ETNIA,GLOSA_PAIS_ORIGEN,COMUNA_RESIDENCIA,GLOSA_COMUNA_RESIDENCIA,REGION_RESIDENCIA,GLOSA_REGION_RESIDENCIA,PREVISION,GLOSA_PREVISION,ANO_EGRESO,DIAG1,DIAG2,DIAS_ESTADA,CONDICION_EGRESO,INTERV_Q,PROCED,PERTENENCIA_ESTABLECIMIENTO_SALU
0,No Pertenecientes al Sistema Nacional de Servi...,HOMBRE,1 a 9,No se identifica con alguna etnia,Chileno,1101.0,Iquique,1.0,De Tarapacá,1.0,FONASA,2020.0,Q531,NaN,1,1,1,2.0,NaN
1,No Pertenecientes al Sistema Nacional de Servi...,HOMBRE,1 a 9,No se identifica con alguna etnia,Chileno,1101.0,Iquique,1.0,De Tarapacá,1.0,FONASA,2020.0,Q173,NaN,1,1,1,2.0,NaN
2,No Pertenecientes al Sistema Nacional de Servi...,HOMBRE,1 a 9,No se identifica con alguna etnia,Chileno,1101.0,Iquique,1.0,De Tarapacá,1.0,FONASA,2020.0,Z412,NaN,1,1,1,2.0,NaN
3,No Pertenecientes al Sistema Nacional de Servi...,HOMBRE,1 a 9,No se identifica con alguna etnia,Chileno,1107.0,Alto Hospicio,1.0,De Tarapacá,1.0,FONASA,2020.0,N47X,NaN,1,1,1,2.0,NaN
4,No Pertenecientes al Sistema Nacional de Servi...,HOMBRE,1 a 9,No se identifica con alguna etnia,Chileno,1101.0,Iquique,1.0,De Tarapacá,1.0,FONASA,2020.0,N47X,NaN,1,1,1,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1637260,NaN,NaN,NaN,NaN,NaN,88888.0,Extranjero,NaN,NaN,NaN,NaN,NaN,S670,W230,8,1,1,NaN,NaN
1637261,NaN,NaN,NaN,NaN,NaN,99999.0,Ignorada,NaN,NaN,NaN,NaN,NaN,Z411,NaN,2,1,1,NaN,NaN
1637262,NaN,NaN,NaN,NaN,NaN,1101.0,Iquique,NaN,NaN,NaN,NaN,NaN,O681,NaN,2,1,2,NaN,NaN
1637263,NaN,NaN,NaN,NaN,NaN,13120.0,Ñuñoa,NaN,NaN,NaN,NaN,NaN,O820,NaN,2,1,1,NaN,NaN
1637264,NaN,NaN,NaN,NaN,NaN,2201.0,Calama,NaN,NaN,NaN,NaN,NaN,L500,NaN,1,1,2,NaN,NaN

In [ ]:
# Correcion ESTABELCIMIENTO DE SALUD

# Rellenar valores nulos en 'Nombre' con los valores de 'Nombr'
df['PERTENENCIA_ESTABLECIMIENTO_SALUD'] = df['PERTENENCIA_ESTABLECIMIENTO_SALUD'].fillna(df['PERTENENCIA_ESTABLECIMIENTO_SALU'])

# Eliminar la columna 'Nombr' si ya no la necesitas
df.drop(columns=['PERTENENCIA_ESTABLECIMIENTO_SALU'], inplace=True)

# Verificar el resultado
df.head()

In [ ]:
# POLARS
total = len(csv_list) # para contador

print('Comenzando lectura...')

print(f'Leyendo {csv_list[0].split('\\')[-1]} - {0/total:3.0%} ({1:2}/{total})')
df = read_csv_custom_pl(csv_list[0])

for i,csv in enumerate(csv_list[1:], start=2):
    print(f'Leyendo {csv.split('\\')[-1]} - {(i-1)/total:3.0%} ({i:2}/{total})')
    sub_df = read_csv_custom_pl(csv)
    df = pl.concat([df, sub_df], how='vertical_relaxed')
    
print('Lectura finalizada con éxito!')
df

# Duracion: aprox. 40s (NUNCA ME FUNCIONOO)

##### **3. Determine el total de ﬁlas y columnas.**

In [8]:
df.shape

(7941674, 18)

In [9]:
print(f'El dataset contiene {df.shape[0]:,} entradas (filas) y {df.shape[1]} variables (columnas).')

El dataset contiene 7,941,674 entradas (filas) y 18 variables (columnas).

##### **4. Determine el total de ﬁlas, según sexo biológico.**

In [11]:
df['SEXO'].value_counts()

SEXO
MUJER     4573118
HOMBRE    3170080
Name: count, dtype: int64

In [12]:
print(f'Hay {df['SEXO'].value_counts()['MUJER']:,} mujeres y {df['SEXO'].value_counts()['HOMBRE']:,} hombres.')

Hay 4,573,118 mujeres y 3,170,080 hombres.

##### **5. Determine la patología que es más frecuente en el conjunto de datos.**

In [16]:
df['DIAG1'].value_counts().sort_values(ascending=False).head()

DIAG1
O800    218667
O809    154276
O829    153988
K802    136835
O820    136272
Name: count, dtype: int64

In [17]:
serie = df['DIAG1'].value_counts().sort_values(ascending=False)

print(f'El diagnóstico más frecuente es {serie.index[0]} con {serie.iloc[0]:,} casos.')

El diagnóstico más frecuente es O800 con 218,667 casos.

##### **6. Filtre únicamente los registros correspondientes a la comuna de Concepción.**

In [18]:
comunas = df['GLOSA_COMUNA_RESIDENCIA'].dropna().unique()
comunas.sort()
comunas

array(['Aisén', 'Algarrobo', 'Alhué', 'Alto Biobío', 'Alto Hospicio',
       'Alto del Carmen', 'Ancud', 'Andacollo', 'Angol', 'Antofagasta',
       'Antuco', 'Antártica', 'Arauco', 'Arica', 'Buin', 'Bulnes',
       'Cabildo', 'Cabo de Hornos', 'Cabrero', 'Calama', 'Calbuco',
       'Caldera', 'Calera', 'Calera de Tango', 'Calle Larga', 'Camarones',
       'Camiña', 'Canela', 'Carahue', 'Cartagena', 'Casablanca', 'Castro',
       'Catemu', 'Cauquenes', 'Cañete', 'Cerrillos', 'Cerro Navia',
       'Chaitén', 'Chanco', 'Chañaral', 'Chiguayante', 'Chile Chico',
       'Chillán', 'Chillán Viejo', 'Chimbarongo', 'Cholchol', 'Chonchi',
       'Chépica', 'Cisnes', 'Cobquecura', 'Cochamó', 'Cochrane',
       'Codegua', 'Coelemu', 'Coihaique', 'Coihueco', 'Coinco', 'Colbún',
       'Colchane', 'Colina', 'Collipulli', 'Coltauco', 'Combarbalá',
       'Concepción', 'Conchalí', 'Concón', 'Constitución', 'Contulmo',
       'Copiapó', 'Coquimbo', 'Coronel', 'Corral', 'Cunco', 'Curacautín',
       'Curacaví', 'Curaco de Vélez', 'Curanilahue', 'Curarrehue',
       'Curepto', 'Curicó', 'Dalcahue', 'Diego de Almagro', 'Doñihue',
       'El Bosque', 'El Carmen', 'El Monte', 'El Quisco', 'El Tabo',
       'Empedrado', 'Ercilla', 'Estación Central', 'Extranjero',
       'Florida', 'Freire', 'Freirina', 'Fresia', 'Frutillar',
       'Futaleufú', 'Futrono', 'Galvarino', 'General Lagos', 'Gorbea',
       'Graneros', 'Guaitecas', 'Hijuelas', 'Hualaihué', 'Hualañé',
       'Hualpén', 'Hualqui', 'Huara', 'Huasco', 'Huechuraba', 'Ignorada',
       'Illapel', 'Independencia', 'Iquique', 'Isla de Maipo',
       'Isla\xa0\xa0de Pascua', 'Juan Fernández', 'La Cisterna',
       'La Cruz', 'La Estrella', 'La Florida', 'La Granja', 'La Higuera',
       'La Ligua', 'La Pintana', 'La Reina', 'La Serena', 'La Unión',
       'Lago Ranco', 'Lago Verde', 'Laguna Blanca', 'Laja', 'Lampa',
       'Lanco', 'Las Cabras', 'Las Condes', 'Lautaro', 'Lebu', 'Licantén',
       'Limache', 'Linares', 'Litueche', 'Llaillay', 'Llanquihue',
       'Lo Barnechea', 'Lo Espejo', 'Lo Prado', 'Lolol', 'Loncoche',
       'Longaví', 'Lonquimay', 'Los Andes', 'Los Lagos', 'Los Muermos',
       'Los Sauces', 'Los Vilos', 'Los Álamos', 'Los Ángeles', 'Lota',
       'Lumaco', 'Machalí', 'Macul', 'Maipú', 'Malloa', 'Marchihue',
       'Mariquina', 'María Elena', 'María Pinto', 'Maule', 'Maullín',
       'Mejillones', 'Melipeuco', 'Melipilla', 'Molina', 'Monte Patria',
       'Mostazal', 'Mulchén', 'Máfil', 'Nacimiento', 'Nancagua',
       'Natales', 'Navidad', 'Negrete', 'Ninhue', 'Nogales',
       'Nueva Imperial', "O'Higgins", 'Olivar', 'Ollagüe', 'Olmué',
       'Osorno', 'Ovalle', 'Padre Hurtado', 'Padre Las Casas', 'Paiguano',
       'Paillaco', 'Paine', 'Palena', 'Palmilla', 'Panguipulli',
       'Panquehue', 'Papudo', 'Paredones', 'Parral',
       'Pedro\xa0Aguirre Cerda', 'Pelarco', 'Pelluhue', 'Pemuco',
       'Pencahue', 'Penco', 'Peralillo', 'Perquenco', 'Petorca', 'Peumo',
       'Peñaflor', 'Peñalolén', 'Pica', 'Pichidegua', 'Pichilemu',
       'Pinto', 'Pirque', 'Pitrufquén', 'Placilla', 'Portezuelo',
       'Porvenir', 'Pozo Almonte', 'Primavera', 'Providencia',
       'Puchuncaví', 'Pucón', 'Pudahuel', 'Puente Alto', 'Puerto Montt',
       'Puerto Octay', 'Puerto Varas', 'Pumanque', 'Punitaqui',
       'Punta Arenas', 'Puqueldón', 'Purranque', 'Purén', 'Putaendo',
       'Putre', 'Puyehue', 'Queilén', 'Quellón', 'Quemchi', 'Quilaco',
       'Quilicura', 'Quilleco', 'Quillota', 'Quillón', 'Quilpué',
       'Quinchao', 'Quinta Normal', 'Quinta de Tilcoco', 'Quintero',
       'Quirihue', 'Rancagua', 'Rauco', 'Recoleta', 'Renaico', 'Renca',
       'Rengo', 'Requínoa', 'Retiro', 'Rinconada', 'Romeral', 'Ránquil',
       'Río Bueno', 'Río Claro', 'Río Hurtado', 'Río Ibáñez', 'Río Negro',
       'Río Verde', 'Saavedra', 'Sagrada Familia', 'Salamanca',
       'San Antonio', 'San Bernardo', 'San Carlos', 'San Clemente',
       'San Esteban', 'San Fabián', 'San Felipe', 'San Fernando',
       'San Gregorio', 'San Ignacio', 'San Javier', 'San Joaquín',
       'San José de Maipo', 'San Juan de la Costa', 'San Miguel',
       'San Nicolás', 'San Pablo', 'San Pedro', 'San Pedro de Atacama',
       'San Pedro de la Paz', 'San Rafael', 'San Ramón', 'San Rosendo',
       'San Vicente', 'Santa Bárbara', 'Santa Cruz', 'Santa Juana',
       'Santa María', 'Santiago', 'Santo Domingo', 'Sierra Gorda',
       'Talagante', 'Talca', 'Talcahuano', 'Taltal', 'Temuco', 'Teno',
       'Teodoro Schmidt', 'Tierra Amarilla', 'Tiltil', 'Timaukel',
       'Tirúa', 'Tocopilla', 'Toltén', 'Tomé', 'Torres del Paine',
       'Tortel', 'Traiguén', 'Treguaco', 'Tucapel', 'Valdivia',
       'Vallenar', 'Valparaíso', 'Vichuquén', 'Victoria', 'Vicuña',
       'Vilcún', 'Villa Alegre', 'Villa Alemana', 'Villarrica',
       'Vitacura', 'Viña del Mar', 'Yerbas Buenas', 'Yumbel', 'Yungay',
       'Zapallar', 'Ñiquén', 'Ñuñoa'], dtype=object)

In [19]:
filtro_concepción = df['GLOSA_COMUNA_RESIDENCIA'] == 'Concepción'
df[filtro_concepción]

,PERTENENCIA_ESTABLECIMIENTO_SALUD,SEXO,GRUPO_EDAD,ETNIA,GLOSA_PAIS_ORIGEN,COMUNA_RESIDENCIA,GLOSA_COMUNA_RESIDENCIA,REGION_RESIDENCIA,GLOSA_REGION_RESIDENCIA,PREVISION,GLOSA_PREVISION,ANO_EGRESO,DIAG1,DIAG2,DIAS_ESTADA,CONDICION_EGRESO,INTERV_Q,PROCED
14338,No Pertenecientes al Sistema Nacional de Servi...,HOMBRE,1 a 9,No se identifica con alguna etnia,Chileno,8101.0,Concepción,8.0,Del Bíobío,1.0,FONASA,2020.0,G800,NaN,111,1,2,2.0
14339,No Pertenecientes al Sistema Nacional de Servi...,HOMBRE,1 a 9,No se identifica con alguna etnia,Chileno,8101.0,Concepción,8.0,Del Bíobío,1.0,FONASA,2020.0,N289,NaN,5,1,1,2.0
14343,No Pertenecientes al Sistema Nacional de Servi...,HOMBRE,1 a 9,No se identifica con alguna etnia,Chileno,8101.0,Concepción,8.0,Del Bíobío,1.0,FONASA,2020.0,K409,NaN,1,1,1,2.0
14349,No Pertenecientes al Sistema Nacional de Servi...,HOMBRE,1 a 9,No se identifica con alguna etnia,Chileno,8101.0,Concepción,8.0,Del Bíobío,1.0,FONASA,2020.0,Q539,NaN,1,1,1,2.0
14354,No Pertenecientes al Sistema Nacional de Servi...,HOMBRE,1 a 9,No se identifica con alguna etnia,Chileno,8101.0,Concepción,8.0,Del Bíobío,1.0,FONASA,2020.0,N47X,NaN,1,1,1,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1637152,NaN,NaN,NaN,NaN,NaN,8101.0,Concepción,NaN,NaN,NaN,NaN,NaN,Q234,NaN,6,1,1,NaN
1637173,NaN,NaN,NaN,NaN,NaN,8101.0,Concepción,NaN,NaN,NaN,NaN,NaN,I269,NaN,16,1,2,NaN
1637196,NaN,NaN,NaN,NaN,NaN,8101.0,Concepción,NaN,NaN,NaN,NaN,NaN,N819,NaN,3,1,1,NaN
1637242,NaN,NaN,NaN,NaN,NaN,8101.0,Concepción,NaN,NaN,NaN,NaN,NaN,P073,NaN,7,1,2,NaN
1637244,NaN,NaN,NaN,NaN,NaN,8101.0,Concepción,NaN,NaN,NaN,NaN,NaN,P034,NaN,3,1,2,NaN

##### **7. Calcule el total de ﬁlas correspondientes a las comunas de Cañete, Los Ángeles y Chillán.**

In [52]:
df['GLOSA_COMUNA_RESIDENCIA'].unique()
lista_comunas = ['Cañete', 'Los Ángeles', 'Chillán']
filtro_comunas = df['GLOSA_COMUNA_RESIDENCIA'].isin(lista_comunas)

len(df[filtro_comunas])

213825

In [53]:
df[filtro_comunas].groupby('GLOSA_COMUNA_RESIDENCIA').agg({'SEXO':'count'})

                           SEXO
GLOSA_COMUNA_RESIDENCIA
Cañete                    23833
Chillán                   83446
Los Ángeles              102524

###### Solución

In [ ]:
import polars as pl
a = pl.DataFrame()
a

shape: (0, 0)
┌┐
╞╡
└┘

In [ ]:
filtro_comunas = df['GLOSA_COMUNA_RESIDENCIA'].isin(['Cañete', 'Los Ángeles', 'Chillán'])
df[filtro_comunas]

In [ ]:
len(df[df['GLOSA_COMUNA_RESIDENCIA'].isin(['Cañete', 'Los Ángeles', 'Chillán'])])

In [ ]:
print('Hay', len(df[df['GLOSA_COMUNA_RESIDENCIA'].isin(['Cañete', 'Los Ángeles', 'Chillán'])]), 'casos en las comunas de Cañete, Los Ángeles y Chillán.')

##### **8. Calcule el total de ﬁlas correspondientes a las comunas de Santa Juana, Maipú, Puente Alto y Pudahuel, en los años de egresos 2021 y 2022.**

###### Solución

In [ ]:
filtro_comuna = df['GLOSA_COMUNA_RESIDENCIA'].isin(['Santa Juana', 'Puente Alto', 'Maipú', 'Pudahuel'])
filtro_fecha = df['ANO_EGRESO']<=2019
filtro_fecha2 = df['ANO_EGRESO']>=2018

df_filtrado = df[filtro_comuna &
				 filtro_fecha &
				 filtro_fecha2
    			]

df_filtrado

In [ ]:
len(df_filtrado)

##### **9. Filtre los registros correspondientes a años de egreso pares. Evite deﬁnir año a año en el ﬁltro .**

In [ ]:
# NOTA SOBRE GLOB
from glob import glob # Biblioteca para buscar archivos

glob('data/egresos hospitalarios/*/*.csv')

['data/egresos hospitalarios\\EGRESOS_2001\\EGRE_DATOS_ABIERTOS_2001.csv',
 'data/egresos hospitalarios\\EGRESOS_2002\\EGRE_DATOS_ABIERTOS_2002.csv',
 'data/egresos hospitalarios\\EGRESOS_2003\\EGRE_DATOS_ABIERTOS_2003.csv',
 'data/egresos hospitalarios\\EGRESOS_2004\\EGRE_DATOS_ABIERTOS_2004.csv',
 'data/egresos hospitalarios\\EGRESOS_2005\\EGRE_DATOS_ABIERTOS_2005.csv',
 'data/egresos hospitalarios\\EGRESOS_2006\\EGRE_DATOS_ABIERTOS_2006.csv',
 'data/egresos hospitalarios\\EGRESOS_2007\\EGRE_DATOS_ABIERTOS_2007.csv',
 'data/egresos hospitalarios\\EGRESOS_2008\\EGRE_DATOS_ABIERTOS_2008.csv',
 'data/egresos hospitalarios\\EGRESOS_2009\\EGRE_DATOS_ABIERTOS_2009.csv',
 'data/egresos hospitalarios\\EGRESOS_2010\\EGRE_DATOS_ABIERTOS_2010.csv',
 'data/egresos hospitalarios\\EGRESOS_2011\\EGRE_DATOS_ABIERTOS_2011.csv',
 'data/egresos hospitalarios\\EGRESOS_2012\\EGRE_DATOS_ABIERTOS_2012.csv',
 'data/egresos hospitalarios\\EGRESOS_2013\\EGRE_DATOS_ABIERTOS_2013.csv',
 'data/egresos hospitalarios\\EGRESOS_2014\\EGRE_DATOS_ABIERTOS_2014.csv',
 'data/egresos hospitalarios\\EGRESOS_2015\\EGRE_DATOS_ABIERTOS_2015.csv',
 'data/egresos hospitalarios\\EGRESOS_2016\\EGRE_DATOS_ABIERTOS_2016.csv',
 'data/egresos hospitalarios\\EGRESOS_2017\\EGRE_DATOS_ABIERTOS_2017.csv',
 'data/egresos hospitalarios\\EGRESOS_2018\\EGRE_DATOS_ABIERTOS_2018.csv',
 'data/egresos hospitalarios\\EGRESOS_2019\\EGRE_DATOS_ABIERTOS_2019.csv',
 'data/egresos hospitalarios\\EGRESOS_2020\\EGRE_DATOS_ABIERTOS_2020.csv']

###### Solución

In [55]:
filtro_año_par = df['ANO_EGRESO'] % 2 == 0

df[filtro_año_par]

,PERTENENCIA_ESTABLECIMIENTO_SALUD,SEXO,GRUPO_EDAD,ETNIA,GLOSA_PAIS_ORIGEN,COMUNA_RESIDENCIA,GLOSA_COMUNA_RESIDENCIA,REGION_RESIDENCIA,GLOSA_REGION_RESIDENCIA,PREVISION,GLOSA_PREVISION,ANO_EGRESO,DIAG1,DIAG2,DIAS_ESTADA,CONDICION_EGRESO,INTERV_Q,PROCED,PERTENENCIA_ESTABLECIMIENTO_SALU
0,No Pertenecientes al Sistema Nacional de Servi...,HOMBRE,1 a 9,No se identifica con alguna etnia,Chileno,1101.0,Iquique,1.0,De Tarapacá,1.0,FONASA,2020.0,Q531,NaN,1,1,1,2.0,NaN
1,No Pertenecientes al Sistema Nacional de Servi...,HOMBRE,1 a 9,No se identifica con alguna etnia,Chileno,1101.0,Iquique,1.0,De Tarapacá,1.0,FONASA,2020.0,Q173,NaN,1,1,1,2.0,NaN
2,No Pertenecientes al Sistema Nacional de Servi...,HOMBRE,1 a 9,No se identifica con alguna etnia,Chileno,1101.0,Iquique,1.0,De Tarapacá,1.0,FONASA,2020.0,Z412,NaN,1,1,1,2.0,NaN
3,No Pertenecientes al Sistema Nacional de Servi...,HOMBRE,1 a 9,No se identifica con alguna etnia,Chileno,1107.0,Alto Hospicio,1.0,De Tarapacá,1.0,FONASA,2020.0,N47X,NaN,1,1,1,2.0,NaN
4,No Pertenecientes al Sistema Nacional de Servi...,HOMBRE,1 a 9,No se identifica con alguna etnia,Chileno,1101.0,Iquique,1.0,De Tarapacá,1.0,FONASA,2020.0,N47X,NaN,1,1,1,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1604451,No Pertenecientes al Sistema Nacional de Servi...,MUJER,menor de un año,Si se identifica con alguna etnia,Chileno,13114.0,Las Condes,13.0,Metropolitana de Santiago,99.0,DESCONOCIDO,2016.0,K429,NaN,1,1,1,NaN,NaN
1604452,No Pertenecientes al Sistema Nacional de Servi...,MUJER,menor de un año,Si se identifica con alguna etnia,Chileno,13122.0,Peñalolén,13.0,Metropolitana de Santiago,99.0,DESCONOCIDO,2016.0,P072,NaN,59,2,1,NaN,NaN
1604453,Pertenecientes al Sistema Nacional de Servicio...,MUJER,menor de un año,Si se identifica con alguna etnia,extranjero,2104.0,Taltal,2.0,De Antofagasta,96.0,NINGUNA,2016.0,Z601,NaN,9,1,2,NaN,NaN
1604454,Pertenecientes al Sistema Nacional de Servicio...,MUJER,menor de un año,Si se identifica con alguna etnia,extranjero,2101.0,Antofagasta,2.0,De Antofagasta,96.0,NINGUNA,2016.0,S069,V496,22,1,2,NaN,NaN
1604455,Pertenecientes al Sistema Nacional de Servicio...,MUJER,menor de un año,Si se identifica con alguna etnia,extranjero,2101.0,Antofagasta,2.0,De Antofagasta,96.0,NINGUNA,2016.0,R568,NaN,2,1,2,NaN,NaN

##### **10. Estime el porcentaje de egresos hospitalarios que se identiﬁca con una etnia en la región de Tarapacá, y compare dicho porcentaje con el correspondiente a la región de Los Ríos.**

###### Solución

In [ ]:
df['GLOSA_REGION_RESIDENCIA'].unique()

In [ ]:
df['ETNIA'].unique()

In [ ]:
filtro_tarapaca = df['GLOSA_REGION_RESIDENCIA'] == 'De Tarapacá'
filtro_losrios = df['GLOSA_REGION_RESIDENCIA'] == 'De Los Ríos'
filtro_etnia = df['ETNIA'] == 'Si se identifica con alguna etnia'

df_T = df[filtro_tarapaca]
df_LR = df[filtro_losrios]
df_T_et = df[filtro_tarapaca & filtro_etnia]
df_LR_et = df[filtro_losrios & filtro_etnia]

In [ ]:
total_tarapaca = len(df_T)
total_losrios = len(df_LR)
etnias_tarapaca = len(df_T_et)
etnias_losrios = len(df_LR_et)

print(f'La proporción de personas identificadas por etnias en Tarapacá es de {etnias_tarapaca/total_tarapaca:.3%} y de {etnias_losrios/total_losrios:.3%} en Los Ríos')

##### **11. ¿Cuál es la patología con mayor cantidad de egresos hospitalarios en la comuna de Concepción en 2022? ¿Fue la misma patología que en 2001?**

###### Solución

In [57]:
filtro_conce = df['GLOSA_COMUNA_RESIDENCIA'] == 'Concepción'
filtro_2022 = df['ANO_EGRESO'] == 2020 # Reemplazo a 2022
filtro_2001 = df['ANO_EGRESO'] == 2016 # Reemplazo a 2001

In [62]:
df_conce_2022 = df[filtro_conce & filtro_2022]
r2022 = df_conce_2022['DIAG1'].value_counts().sort_values(ascending=False).head(1)

In [63]:
df_conce_2001 = df[filtro_conce & filtro_2001]
r_2001 = df_conce_2001['DIAG1'].value_counts().sort_values(ascending=False).head(1)

In [73]:
print(f'En el año 2020 el diagnostico con mas casos es {r2022.index[0]} y en 2019 es de {r_2001.index[0]}')

En el año 2020 el diagnostico con mas casos es O800 y en 2019 es de O820

##### **12. Calcule los días de estancia hospitalaria promedio, según diagnóstico.**

###### Solución

In [90]:
df_final = df.groupby('DIAG1').agg({'DIAS_ESTADA':'mean'})
df_final

       DIAS_ESTADA
DIAG1
A000      2.250000
A009     10.200000
A010      8.393013
A011      6.600000
A012      4.000000
...            ...
k433      5.326087
k434      3.900000
k435      4.812500
k436      4.869565
k437      3.666667

[8330 rows x 1 columns]

##### **13. ¿Qué porcentaje de los egresos hospitalarios presenta condición de egreso del paciente como fallecido?**

###### Solución

In [75]:
df['CONDICION_EGRESO'].value_counts()

CONDICION_EGRESO
1    7758613
2     183061
Name: count, dtype: int64

In [78]:
filtro_fallecidos = df['CONDICION_EGRESO'] == 2

cantidad_fallecidos = len(df[filtro_fallecidos])
total = len(df)

print(f'El porcentaje de fallecidos es de {cantidad_fallecidos/total:.3%}')

El porcentaje de fallecidos es de 2.305%

##### **14. Compare las 10 patologías más frecuentes según el país de origen del paciente.**

###### Solución

In [ ]:
df['GLOSA_PAIS_ORIGEN'].unique()

In [ ]:
filtro_chileno = df['GLOSA_PAIS_ORIGEN'] == 'Chileno'
filtro_extranjero = df['GLOSA_PAIS_ORIGEN'] == 'extranjero'

top_diagnostico_chileno = df[filtro_chileno]['DIAG1'].value_counts().sort_values(ascending=False).head(10)
top_diagnostico_extranjero = df[filtro_extranjero]['DIAG1'].value_counts().sort_values(ascending=False).head(10)

datos = {'top chileno': top_diagnostico_chileno.index,'cantidad ch': top_diagnostico_chileno.values,'top extranjero': top_diagnostico_extranjero.index, 'cantidad ext':top_diagnostico_extranjero.values}

tabla_comparativa = pd.DataFrame(datos,index=[i for i in range(1,11)])
tabla_comparativa

##### **15. Estime la principal patología de cada comuna. ¿Identiﬁca algún patrón geográﬁco?**

###### Solución

In [101]:
df.groupby('GLOSA_COMUNA_RESIDENCIA').agg({'SEXO':'count'})

                           SEXO
GLOSA_COMUNA_RESIDENCIA
Aisén                     14972
Algarrobo                  5961
Alhué                      1652
Alto Biobío                2550
Alto Hospicio             35575
...                         ...
Yumbel                    10930
Yungay                    10620
Zapallar                   2480
Ñiquén                     4260
Ñuñoa                    102858

[348 rows x 1 columns]

##### **16. Calcule el total de egresos hospitalarios por año.**

###### Solución

In [ ]:
df['ANO_EGRESO'].value_counts()

##### **17. Calcule el total de egresos hospitalarios por año para la región de Biobío.**

In [102]:
df['GLOSA_REGION_RESIDENCIA'].unique()

array(['De Tarapacá', 'De Antofagasta', 'De Atacama', 'De Coquimbo',
       'De Valparaíso', "Del Libertador B. O'Higgins", 'Del Maule',
       'Del Bíobío', 'De La Araucanía', 'De Los Lagos',
       'De Aisén del Gral. C. Ibáñez del Campo',
       'De Magallanes y de La Antártica Chilena',
       'Metropolitana de Santiago', 'De Los Ríos',
       'De Arica y Parinacota', 'De Ñuble', nan], dtype=object)

###### Solución

In [103]:
filtro_biobio = df['GLOSA_REGION_RESIDENCIA'] == 'Del Bíobío'

df[filtro_biobio]['ANO_EGRESO'].value_counts()

ANO_EGRESO
2019.0    169483
2018.0    168663
2017.0    166560
2016.0    164297
2020.0    128547
Name: count, dtype: int64

##### **18. ¿Cuáles son los porcentajes de egresos según previsión de salud?**

##### **19. Sin incluir comunas de la región metropolitana, ¿cuáles son las comunas con mayor mediana de días de estada hospitalaria?**

In [108]:
filtro_no_metropolitana = df['GLOSA_REGION_RESIDENCIA'] != 'Metropolitana de Santiago'
df_no_metropolitana = df[filtro_no_metropolitana]
df_mediana = df_no_metropolitana.groupby('GLOSA_COMUNA_RESIDENCIA').agg({'DIAS_ESTADA':'median'})
df_mediana = df_mediana.sort_values('DIAS_ESTADA', ascending=False)
df_mediana.head(3)

                         DIAS_ESTADA
GLOSA_COMUNA_RESIDENCIA
General Lagos                    6.0
Tiltil                           5.5
Ercilla                          4.0

##### **20. Calcule el total de patologías según grupo de edad y sexo biológico.**

##### **21. Guarde los datos obtenidos en la pregunta 12 en un nuevo archivo llamado “egresos.xlsx”. No olvides usar reset_index() .**

In [96]:
df_final = df_final.reset_index(drop=True)
df_final.to_csv('egresos.csv', index=False)